
#hero{
	border: green solid 2px;
}
.villain{
	color: red;
}
#villain1{
	border: orange solid 2px;
}
#villain2{
	border: red solid 2px;
}
#villain3{
	border: black solid 2px;
}
.choosenCharacter{
}
.attack{
	
}

