
#hero{
	border: green solid 2px;
}
.villian{
	color: red;
}
#villian1{
	border: orange solid 2px;
}
#villian2{
	border: red solid 2px;
}
#villian3{
	border: black solid 2px;
}
.choosenCharacter{
}
.attack{
	
}

